@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

/* Universal Styles */

/*div {
  border: 1px solid black;
}*/

html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

/* Header */

header {
  height: 3.5rem;
  margin: 0.5rem 1.5rem;
  padding-top: 0.5rem;
}

header div {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

header img {
  height: 3rem;
}

header .colmar {
  color: gray;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
}

.menu li {
  margin: auto 1rem;
}

.menu li:hover {
  font-weight: bold;
}

.colmar-color {
  color: gray;
  font-weight: bold;
}

/* Banner Container */

.banner-container {
  display: flex;
  align-items: center;
  height: 50rem;
  background-color: gray;
}

/* Banner */

.banner-content {
  display: flex;
  align-items: center;
  max-width: 1800px;
}

.banner img {
  min-width: 80%;
  max-width: 98%;
  padding-top: 0.15rem;
}

.text-content {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-left: 1rem;
  padding-top: 2rem;
  max-width: 40rem;
}

.text-content h1 {
  font-size: 4.5rem;
  width: 100%;
  padding: 0 0 2rem 6rem;
}

.text-content h3 {
  font-size: 1.5rem;
  padding: 0 0 2rem 6rem;
  width: 90%;
}

.text-content h1 span {
    color: orange;
}

.button {
  color: white;
  background: orange;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  margin: 3rem 0 0 6rem;
  padding: 2rem 0;
  width: 70%;
  border-radius: 1rem;
}

/* Information Container */

.information-container {
  display: flex;
  padding: 3.5rem 0 2rem 1.5rem;
}

/* Information Section */

.info {
  display: flex;
  line-height: 1.5;
}

.left {
  display: flex;
  flex-direction: column;
  max-width: 71rem;
  margin-left: 2.55rem;
}

.left img {
  width: 90.175%;
  height: auto;
  padding: 0 1.5rem 1.3rem 0.5rem;
}

.picture-info {
  padding-left: 0.5rem;
}

.picture-info h1 {
  font-size: 3.125rem;
  font-weight: bold;
  color: dimgray;
  padding-bottom: 1rem;
}

.picture-info p {
  max-width: 85%;
  font-size: 1.2rem;
}

.picture-info h4 {
  font-weight: bold;
  padding: 1.5rem 0 1.5rem 0;
}

.right {
  display: flex;
  flex-direction: column;
  margin-left: -4rem;
}

.box {
  display: flex;
  align-items: center;
  width: 40rem;
  height: 12.5rem;
  border: 0.05rem solid white;
  padding: 1.9em 1.9rem;
  background-color: lightgray;
}

.box img {
  width: 28%;
  height: auto;
}

.box-info {
  display: flex;
  flex-direction: column;
}
