@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

/* Universal Styles */

html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

img {
  display: block;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Header */

header {
  height: 3.5rem;
  margin: 0.5rem 1.5rem;
  padding-top: 0.5rem;
}

header div {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

header img {
  height: 3rem;
}

header .colmar {
  color: orange;
  font-weight: bold;
}

header nav {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
}

.menu li {
  margin: auto 1rem;
}

.menu li:hover {
  font-weight: bold;
}

.mobile-menu {
  display: none;
}

.colmar-color {
  color: gray;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  header div {
    font-size: 1.5rem;
  }

  header img {
    height: 2.5rem;
  }

  .menu {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 760px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

/* Banner Container */

.banner-container {
  display: flex;
  align-items: center;
  height: 50rem;
  background-color: gray;
}

@media only screen and (max-width: 1024px) {
  .banner-container {
    height: 25rem;
  }
}

/* Banner */

.banner img {
  max-width: 98%;
  position: relative;
}

.banner-content {
  display: flex;
  align-items: center;
}

.text-content {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-left: 1rem;
  padding-top: 2rem;
  max-width: 40rem;
}

.text-content h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  max-width: 100%;
  height: auto;
  padding: 0 0 2rem 6rem;
  line-height: 0.9;
}

.text-content h3 {
  font-size: 1.5rem;
  padding: 0 0 2rem 6rem;
  max-width: 90%;
}

.text-content h1 span {
    color: orange;
}

.button {
  color: white;
  background: orange;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  margin: 3rem 0 0 6rem;
  padding: 1.5rem 5rem;
  max-width: 70%;
}

.button:hover {
  color: orange;
  background-color: white;
  transition-timing-function: linear;
  transition-duration: .3s;
  transition
}

@media only screen and (max-width: 1024px) {
  .banner-content  {
    justify-content: center;
  }

  .banner img {
    max-width: 75%;
  }

  .text-content {
    margin-left: -9.5rem;
  }

  .text-content h1 {
    font-size: 2.2rem;
    margin-right: 8rem;
    max-width: 80%;
  }

  .text-content h3 {
    font-size: 1.1rem;
    width: 100%;
    margin-right: 8rem;
  }

  .button {
    padding: 1.5rem 0;
    font-size: 1rem;
    text-align: center;
    margin: 1rem 1.5rem 0 0;
    padding: 1.5rem 0;
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .banner-content {
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (max-width: 470px) {
  .banner img {
    width: 25rem;
    height: auto;
    margin: 10rem 0 0 0;
  }

}

/* Information Container */

.information-container {
  display: flex;
  padding: 3.5rem 0 2rem 1.5rem;
}

/* Information Section */

.info {
  display: flex;
  justify-content: space-around;
  line-height: 1.5;
  padding-bottom: 2rem;
}

.left {
  display: flex;
  flex-direction: column;
  max-width: 71rem;
  margin-left: 1.65rem;
}

.left img {
  width: 90.175%;
  height: auto;
  padding: 0 1.5rem 1.3rem 0.5rem;
}

.picture-info {
  padding-left: 0.5rem;
}

.picture-info h1 {
  font-size: 3.125rem;
  font-weight: bold;
  color: orange;
  padding-bottom: 1rem;
}

.picture-info p {
  max-width: 85%;
  font-size: 1.2rem;
}

.picture-info h4 {
  font-weight: bold;
  padding-top: 1.5rem;
}

.right {
  display: flex;
  flex-direction: column;
  margin-left: -4rem;
}

.box {
  display: flex;
  align-items: center;
  width: 40rem;
  height: 12.5rem;
  border: 0.05rem solid white;
  padding: 1.9em 1.9rem;
  background-color: lightgray;
}

.box:hover {
  color: white;
  background-color: orange;
  transition-timing-function: linear;
  transition-duration: .3s;
}

.box img {
  width: 28%;
  height: auto;
  padding-right: 2.2rem;
}

.box img.mobile {
  display: none;
}

.box-info {
  display: flex;
  flex-direction: column;
  line-height: 2;
}

.box-info h2 {
  font-size: 2rem;
  font-weight: bold;
}

.box-info h3 {
  font-size: 1.4rem;
}

.box-info span {
  font-size: 1.25rem;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  .picture-info h1 {
    font-size: 2rem;
    line-height: 1;
  }

  .picture-info p {
    font-size: 1rem;
  }

  .picture-info h4 {
    font-size: 0.9rem;
  }

  .right {
    margin-left: -2rem;
  }

  .box {
    width: 25rem;
    height: 5.5rem;
    border: 0.05rem solid white;
    padding: 1.9em 1.2rem;
  }

  .box img {
    width: 30%;
    height: auto;
  }

  .box-info {
    line-height: 1.5rem;
  }

  .box-info h2 {
    font-size: 1.5rem;
  }

  .box-info h3 {
    font-size: 0.8rem;

  }

  .box-info span {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  .left.info {
    display: none;
  }

  .box {
    flex-direction: column;
    height: 10.5rem;
  }

  .box img {
    display: none;
  }

  .box img.mobile {
    display: block;
    max-width: 100%;
    margin: 0;
    margin-bottom: 1rem;
  }
}

/* Degress Container */

.degree-container {
  background-color: lightgray;
  padding-bottom: 1.5rem;
}

.degree-title {
  font-size: 2.125rem;
  font-weight: bold;
  text-align: center;
  padding: 4rem 0 3rem 0;
}

/* Degree Section */

.degrees {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2rem;
}

.degree-info {
  display: flex;
  flex-flow: column wrap;
  max-width: 33rem;
  height: auto;
  margin: 1rem 1.25rem;
}

.degree-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 95.5%;
  height: 8rem;
  padding: .5rem 0 1rem 1.5rem;
  line-height: 2;
}

.degree-text h2 {
  font-size: 1.75rem;
  font-weight: bold;
  color: slategray;
}

.degree-text p {
  width: 85%;
  line-height: 1.2;
}

.degree-text h4,
.degree-text p {
  font-size: 1.1rem;
}

.degree-text:hover {
  color: white;
  background-color: orange;
  transition-timing-function: linear;
  transition-duration: .3s;
}

@media only screen and (max-width: 560px) {
  .degree-title {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    padding: 2.2rem 0 1.3rem 0;
  }

  .degrees {
    flex-direction: column;
  }

  .degree-text {
    line-height: 1.1;
    padding: 0 0 0 1.5rem;
  }

  .degree-info img,
  .degree-info h4,
  .degree-info p {
    display: none;
  }
}

/* Thesis Section */

.thesis-title {
  font-size: 2.125rem;
  font-weight: bold;
  text-align: center;
  padding: 4rem 0 1rem 0;
}

video {
  margin-left: 1rem;
}

.left video {
  width: 90.175%;
  height: auto;
}

.fisma {
  line-height: 1.1;
}

@media only screen and (max-width: 560px) {
  .box.thesis {
    display: none;
  }

  .left.thesis .picture-info {
    display: none;
  }

  .left-picture video {
    margin-right: 5rem;
  }
}


/* Footer */

footer {
  width: 100%;
  height: 3.5rem;
  padding-top: 0.3rem;
  background-color: orange;
}

footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer span {
  padding-left: 1.2rem;
}

.footer-menu {
  display: flex;
  padding-right: 1.2rem;
}

.footer-menu li {
  margin: 1rem;

}
